# macOS system files
.DS_Store
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Xcode build files
ios/build/
ios/Pods/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace/
Podfile.lock

# Android build files
android/.gradle/
android/.idea/
android/app/build/
android/build/
android/local.properties
*.iml
*.keystore

# React Native and Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
*.log

# Babel
.babelrc
.babel.cache

# Metro
.metro-cache/
.react-native/

# Expo (if used)
.expo/
.expo-shared/

# Environment files
.env
.env.*

# VSCode/JetBrains/IDEs
.vscode/
.idea/

# Buck
buck-out/
.buckd/

# Watchman
.watchmanconfig

# Testing / Coverage
coverage/
jest-test-results.json

# Misc
*.swp
*.lock
